body {
    position: absolute;
    border-style: none;
    width: 800px;
    height: 1000px;
    margin-left: 200px;
}

header {
    border-style: solid;
    width: 770px;
    height: 10%;
    text-align: center;
    background-color: darkgoldenrod;
}

.section1 {
    border-style: solid;
    width: 65%;
    height: 35%;
    margin-left: 248px;
    margin-top: 30px;
    background-color: mediumslateblue;
}

article {
    border-style: solid;
    width: 60%;
    height: 60%;
    margin-left: 20px;
    background-color: dodgerblue;
}

.aside1 {
    border-style: solid ;
    width: 30%;
    height: 25%;
    margin-left: 345px;
    margin-top: -215px;
    background-color: red;
}

.aside2 {
    border-style: solid ;
    width: 30%;
    height: 25%;
    margin-left: 345px;
    margin-top: 10px;
    background-color: red;
}
.section2{
    border-style: solid;
    width: 65%;
    height: 35%;
    margin-left: 248px;
    margin-top: 20px;
    background-color: mediumslateblue;
}

.aside3 {
    border-style: solid ;
    width: 30%;
    height: 25%;
    margin-left: 345px;
    margin-top: 90px;
    background-color: red;
}

nav {
    border-style: solid;
    width: 25%;
    height: 20%;
    margin-top: -733px;
    background-color: dodgerblue;
}

h2 {
    text-align: center;
}

footer {
    width: 770px;
    height: 10%;
    border-style: solid;
    margin-top: 555px;
    background-color: darkgoldenrod;
}